@model IEnumerable<WebAppEmpAcc.Models.DepartmentModels.Sector>

<select id="sector" name="Sector">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>

