@model IEnumerable<WebAppEmpAcc.Models.DepartmentModels.Sector>

<select class="form-control" id="sector" name="Sector">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>

@section Scripts {
<script type="text/javascript">
$('#branch').change(function () {
    var id = $(this).val();
    $.ajax({
    type: 'GET',
    url: '@Url.Action("GetBrItems")/' + id,
    success: function (data) {
    $('#sector').replaceWith(data);
    }
  });
});
</script>    
}

