@model EditSkillsViewModel
@{
    ViewData["Title"] = "Edit skills";
    ViewData.AddActivePage(ManageNavPages.EditSkills);
}

<h4>Your Skills</h4>
<div class="row">
    <div class="form-group" name="Your lang">

    </div>
</div>
